<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
   
<div class="content" ng-controller="RegisterCtrl">

<form class="form-horizontal">

  <ul class="nav nav-tabs">
    <li ng-repeat="step in steps" ng-class="{active: $index==getCurrentStepIndex()}">
      <a href="javascript:void(0)" ng-click="goToStep($index)">{{step}}</a>
    </li>
  </ul>
  <div ng-switch on="selection">

    <!-- First Step -->
    <div ng-switch-when="Step 1: Team Info">
      <div class="row">
        <div class="span4">
          <div class="control-group">
            <label class="control-label" for="teamName">Team Name</label>
            <div class="controls">
                <input type="text" id="teamName" placeholder="Team Name" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
                <input type="text" id="inputEmail" placeholder="Email" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword">Password</label>
            <div class="controls">
              <input type="password" id="inputPassword" placeholder="Password">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="confirmInputPassword">Confirm Password</label>
            <div class="controls">
              <input type="password" id="confirmInputPassword" placeholder="Password">
            </div>
          </div>
        </div>
        <div class="span4 offset1">

          <div class="control-group">
            <label class="control-label" for="teamName">Team Image</label>
            <div class="controls">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="teamMembers">Team Members</label>
            <div class="controls">

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Second Step -->
    <div ng-switch-when="Step 2: Campaign Info">
        <h1>Step 2</h1>
    </div>

    <!-- Third Step -->
    <div ng-switch-when="Step 3: Campaign Media">
        <h1>Step 3</h1>
    </div>
  </div>
  <div class="clearfix"></div>
  <ul class="pager pull-left">
    <li class="" ng-class="{disabled: !hasPreviousStep()}">
      <a href="javascript:void(0);" ng-click="decrementStep()">&larr; Previous Step</a>
    </li>
    <li class="" ng-class="{disabled: !hasNextStep()}">
      <a href="javascript:void(0);" ng-click="incrementStep()">Next Step &rarr;</a>
    </li>
  </ul>
  <div class="pull-right"><button style="margin:20px 0;" class="btn btn-success" ng-click="processData()">Confirm and Register</button></div>
  <div class="clearfix"></div>
</form>

  </div>